// Custom styles.

//广告内容
.ads-content-wrap {
    background: rgba(255, 255, 255, 0.8);
    float: right;
    box-sizing: border-box;
    padding: 0px 0px 0px 0px;
    padding-top: 0px;
    width: $content-desktop;
    background: white;
    min-height: 200px;
    box-shadow: $box-shadow-inner;
    border-radius: $border-radius-inner;
    margin-top: 30px;
  
    @include tablet() {
      width: 100%;
      padding: 0px 0px 0px 0px;
    }
    @include mobile() {
      width: 100%;
      padding: 0px 0px 0px 0px;
      min-height: auto;
    }
}

//评论内容
.comments-content-wrap {
    background: rgba(255, 255, 255, 0.8);
    float: right;
    box-sizing: border-box;
    padding: $content-desktop-padding;
    padding-top: 0px;
    width: $content-desktop;
    background: white;
    min-height: 400px;
    box-shadow: $box-shadow-inner;
    border-radius: $border-radius-inner;
    margin-top: 30px;
  
    @include tablet() {
      width: 100%;
      padding: 20px;
    }
    @include mobile() {
      width: 100%;
      padding: 20px;
      min-height: auto;
    }
}

.site-meta {
    background: #1098ad;
}

.headband {
    background: inherit;
}

//文章内容背景改成了半透明
.content-wrap {
    background: rgba(255, 255, 255, 0.8);
}
.sidebar {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 6px #dbdbdb;
}
.site-nav{
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.8);
}
.sidebar-inner {
	background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 6px #dbdbdb;
    border-radius: $border-radius-inner;
}
.header-inner {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 6px #dbdbdb;
}
.footer {
    font-size: 14px;
    color: #434343;
}

// 时间轴样式
.posts-collapse {
    margin: 50px 0px;
}
@media (max-width: 1023px) {
    .posts-collapse {
        margin: 50px 20px;
    }
}

// 时间轴左边线条
.posts-collapse::after {
    margin-left: -2px;
    background-image: linear-gradient(180deg,#f79533 0,#f37055 15%,#ef4e7b 30%,#a166ab 44%,#5073b8 58%,#1098ad 72%,#07b39b 86%,#6dba82 100%);
}

// 时间轴左边线条圆点颜色
.posts-collapse .collection-title::before {
    background-color: rgb(66, 66, 66);
}

// 时间轴文章标题左边圆点颜色
.posts-collapse .post-header:hover::before {
    background-color: rgb(167, 99, 179);
}

// 时间轴年份
.posts-collapse .collection-title h1, .posts-collapse .collection-title h2 {
    color: rgb(102, 102, 102);
}

// 时间轴文章标题
.posts-collapse .post-title a {
    color: rgb(75, 113, 189);
}
.posts-collapse .post-title a:hover {
    color: rgb(167, 99, 179);
}

// 时间轴文章标题底部虚线
.posts-collapse .post-header:hover {
    border-bottom-color: rgb(167, 99, 179);
}

// archives页面顶部文字
.page-archive .archive-page-counter {
    color: rgb(0, 0, 0);
}

// archives页面时间轴左边线条第一个圆点颜色
.page-archive .posts-collapse .archive-move-on {
    top: 10px;
    opacity: 1;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

@keyframes heartAnimate {
    0%,100%{transform:scale(1);}
    10%,30%{transform:scale(0.9);}
    20%,40%,60%,80%{transform:scale(1.1);}
    50%,70%{transform:scale(1.1);}
}
#heart {
    animation: heartAnimate 1.33s ease-in-out infinite;
}
.with-love {
    color: #c7195c;
}